<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="opl.launchType">
    <stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=Suitcase_P\roductsR\Run Con\figu\rationsrCon\figu\ration1"/>
    <stringAttribute key="opl.debugModel.ATTR_PROJECT" value="Suitcase_Products"/>
    <stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="Configuration1"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Suitcase_Products"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
</launchConfiguration>
